@media (min-width: 200px) and (max-width: 575px) {
  body {
    background-color: lightblue;
  }


  .call_num{
    display: none;
  }

  .services{
    flex-direction: column;
  }

  .break{
    display: none;
  }


  .banner_para p{
    width: 90%;

  }
}