@media (min-width: 200px) and (max-width: 575px) {


    .head_one {
        justify-content: start;
        padding: 10px 20px;
    }

    .call_num {
        display: none;
    }

    .head_two {
        flex-direction: row;
        justify-content: space-between;
        padding: 30px 20px;
    }

    .logo_Cant {
        height: 50px;
    }

    .mbl_menu{
        display: flex;
        list-style: none;
    }

    .mbl_menu li {
        font-size: 40px;
        list-style: none;
        color: orange ;
        cursor: pointer;
    }

    .head_two nav {
        display: none;
    }



    .banner_heading h1{
        font-size: 7vw;
    }

    .banner_heading p{
        font-size: 7vw;
    }



    .break {
        display: none;
    }


    .banner_para {
        width: 90%;
    }

    .banner_para p {
        font-size: 18px;
    }

    .banner_btn ul{
        display: none;
    }


     .services {
        flex-direction: column;
    }

    .cant li{
        font-size: 70px;
    }




    .box_one_img {
    display: none;
}


.box_one {
    position: relative;
    padding: 30px 10px;
}


.text_box1 {
    position: relative;
    width: 100%;
    height: max-content;
    display: block;
    justify-content: center;
    text-align: start;
    color: white;
    font-family: poppins, sans-serif;

    padding-left: 20px;
}

.text_box1 h3 {
    font-family: sans-serif;
    color: rgb(56, 54, 54);
    font-size: 8vw;
    font-weight: 800;
}

.para1 {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(86, 85, 85);
}
  
.para2 {
    font-size: 3.5vw;
}




.box_two_img{
    min-height: 280px;
}



.text_box2 {
    width: 50%;
    position: absolute;
    left: 20px;
    top: 60px;
    color: white;
    font-family: sans-serif;

}



.box_three_img {
    width: 100%;
    min-height: 280px;
    object-fit: cover;
    display: block;
}


.text_box3 {
    width: 60%;
}


.text_box3 h3{
    font-size: 5vw;
}

.text_box3 p{
    font-size: 4vw;
}


.text_box3 button{
    font-size: 1.3vw;
}


.adv-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .advantages h2 {
    font-size: 28px;
  }




  .blog {
    padding: 60px 40px;
    text-align: center;

}

  .blog h3{
    font-size: 26px;
  }
  .blog_cant{
    flex-direction: column;
    gap: 30px;
  }

  .blog_box{
    width: 100%;
  }




  /* About Section  */

  .about_header h2{
    font-size: 30px;
    font-weight: 700;
  }

  .about_header ul{
    display: flex;
    list-style: none;
    font-size: 18px;
    gap: 10px;
    cursor: pointer;
}


.about_header{
    height: 20vh;
}


.about_info{
    padding: 50px 0;
}

.about_info h3{
    font-size: 30px;
}

.about_info strong{
    font-size: 20px;
    font-weight: 500 ;
}

.about_info p{

    font-size: 20px;
}

}