@media (min-width: 200px) and (max-width: 575px) {


    .head_one {
        justify-content: start;
        padding: 10px 20px;
    }

    .call_num {
        display: none;
    }

    .head_two {
        flex-direction: row;
        justify-content: space-between;
        padding: 30px 20px;
    }

    .logo_Cant {
        height: 50px;
    }

    .mbl_menu{
        display: flex;
        list-style: none;
    }

    .mbl_menu li {
        font-size: 40px;
        list-style: none;
        color: orange ;
        cursor: pointer;
    }

    .head_two nav {
        display: none;
    }



    .banner_heading h1{
        font-size: 7vw;
    }

    .banner_heading p{
        font-size: 7vw;
    }



    .break {
        display: none;
    }


    .banner_para {
        width: 90%;
    }

    .banner_para p {
        font-size: 18px;
    }

    .banner_btn ul{
        display: none;
    }


     .services {
        flex-direction: column;
    }

    .cant li{
        font-size: 70px;
    }




    .box_one_img {
    display: none;
}


.box_one {
    position: relative;
    padding: 30px 10px;
}


.text_box1 {
    position: relative;
    width: 100%;
    height: max-content;
    display: block;
    justify-content: center;
    text-align: start;
    color: white;
    font-family: poppins, sans-serif;

    padding-left: 20px;
}

.text_box1 h3 {
    font-family: sans-serif;
    color: rgb(56, 54, 54);
    font-size: 8vw;
    font-weight: 800;
}

.para1 {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(86, 85, 85);
}
  
.para2 {
    font-size: 3.5vw;
}




.text_box2 {
    width: 50%;
    position: absolute;
    left: 20px;
    top: 10px;
    color: white;
    font-family: sans-serif;

}



.text_box3 {
    width: 60%;
}

}