* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.head_one {
    display: flex;
    justify-content: space-between;
    padding: 16px 50px;
    background-color: rgba(107, 158, 30, 0.926);
}


.head_one span {
    font-size: larger;
    font-family: sans-serif;
    color: white;
    font-weight: 100;
    cursor: pointer;
}



.social_box ul {
    display: flex;
    list-style: none;
    gap: 14px;
    margin: 0;
    padding: 0;
}

.social_icon {
    color: white;
    font-size: 25px;
    cursor: pointer;
}


.head_two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.logo_Cant {
    height: 80px;
}

.mbl_menu {
    display: none;
}

.logo_Cant img {
    height: 100%;
    width: auto;
    background-size: cover;
}

.head_two nav {
    margin-top: 40px;
}

.head_two nav ul {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    list-style: none;
    gap: 60px;
}

.head_two nav ul li {
    text-decoration: none;
    color: rgb(93, 93, 93);
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    cursor: pointer;
}


.head_two nav ul li:hover {
    color: orange;
    text-decoration: underline;
}


.banner {
    background-image: url("Images/img1.jpg");
    background-size: cover;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 0;
}

.banner_heading h1 {
    color: white;
    font-size: 50px;
    line-height: 1.1;
    font-family: roboto, sans-serif;
    font-weight: 800;
}

.banner_heading p {
    font-family: roboto, sans-serif;
    color: white;
    font-size: 50px;
    line-height: 1.1;
    font-weight: 800;
}

.banner_para {
    width: 32%;
    text-align: center;
    margin-top: 20px;
}

.banner_para p {
    text-align: center;
    color: white;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1.5;
}


.banner_btn {
    margin-top: 30PX;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}



.banner_btn button {
    background-color: transparent;
    padding: 12px 40px;
    border: 2px solid white;
    border-radius: 50px;
    color: white;
}

.banner_btn ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

.slide {
    height: 14px;
    width: 14px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;

}

.s1 {
    background-color: transparent;
    border: 1px solid white;
}


.services {
    width: 100%;
    background-color: #f2c300;
    display: flex;
    justify-content: space-between;
}

.srvc_one {
    background-color: #fdce35;
}

.srvc_two {
    background-color: #e4b700;
}

.srvc_three {
    background-color: #efbe1c;
}


.cant {
    flex: 1;
    text-align: center;
    align-items: center;
    padding: 50px 0px;
    /* border-right: 2px solid orange; */

}

.cant li {
    list-style: none;
    font-size: 80px;
    color: white;
    font-weight: 200;
}

.cant span {
    display: block;
    font-family: "Poppins" sans-serif;
    font-size: 24px;
    margin-top: 15px;
}

.display {
    display: flex;
    flex-direction: column;

}

.box_one {
    position: relative;
    width: 100%;
    height: max-content;
    background-size: cover;
    padding: 0px 50px;
}

.box_one_img {
    width: 100%;
    height: auto;
    background-size: cover;
    display: block;
}

.text_box1 {
    width: 40%;
    position: absolute;
    right: 5%;
    top: 30%;
    color: white;
    font-family: poppins, sans-serif;
}

.text_box1 h3 {
    font-family: sans-serif;
    color: rgb(56, 54, 54);
    font-size: 3vw;
    font-weight: 800;

}

.para1 {
    padding-top: 10px;
    font-size: 2vw;
    font-weight: 500;
    color: rgb(86, 85, 85);
}

.para2 {
    font-size: 1.4vw;
    font-weight: 300;
    color: gray;
    padding-top: 15px;
}

.text_box1 button {
    margin-top: 20px;
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    background-color: rgba(235, 151, 26, 0.926);
    color: white;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}


.box_two {
    position: relative;
    width: 100%;
    object-fit: cover;
    height: auto;
}

.box_two_img {
    width: 100%;
    min-height: 290px;
    object-fit: cover;
}


.text_box2 {
    width: 50%;
    position: absolute;
    left: 8%;
    top: 20%;
    color: white;
    font-family: sans-serif;

}

.text_box2 h3 {
    color: rgb(231, 164, 39);
    font-size: 4vw;
    font-weight: 800;
}


.text_box2 p {
    font-size: 4vw;
    font-weight: 800;
    color: rgb(255, 255, 255);
}


.text_box2 button {
    margin-top: 2vw;
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    background-color: rgba(107, 158, 30, 0.926);
    color: white;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}


.box_three {
    position: relative;
    width: 100%;
    height: max-content;
}

.box_three_img {
    width: 100%;
    height: auto;
    display: block;
}

.text_box3 {
    font-family: sans-serif;
    width: 30%;
    position: absolute;
    left: 8%;
    top: 20%;
    color: white;
    font-family: sans-serif;
}

.text_box3 h3 {
    color: rgb(45, 43, 43);
    font-size: 2.5vw;
    font-weight: 900;
}

.text_box3 p {
    font-size: 1.7vw;
    font-weight: 300;
    color: rgb(133, 132, 132);
    margin-top: 20px;
}

.text_box3 button {
    margin-top: 15px;
    padding: 10px 25px;
    border-radius: 30px;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(46, 45, 45);
    font-size: 1vw;
    cursor: pointer;
}



.advantages {
    background: #f3f3f3;
    padding: 80px 20px;
    text-align: center;
}

.advantages h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 50px;
    color: rgb(69, 66, 66);
}

.adv-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    max-width: 1200px;
    margin: auto;
    font-family: sans-serif;
}

.adv-card img {
    width: 50px;
    margin-bottom: 15px;
}

.adv-card h4 {
    color: #6fb53f;
    margin-bottom: 10px;
    font-size: 22px;
}

.adv-card p {
    color: #777;
    font-size: 20px;
    line-height: 1.6;
}


.blog {
    padding: 100px 80px;
    text-align: center;

}


.blog_cant {
    padding: 40px 0;
    display: flex;
    font-family: sans-serif;
    gap: 40px;
}

.blog h3 {
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 900;
    color: rgb(59, 56, 56);
}

.blog_box {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: start;
    gap: 20px;


}

.blog_box img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}


.blog_box span {
    font-size: 24px;
    font-weight: 600;
    color: rgb(81, 79, 79);
}

.blog_box p {
    font-size: 22px;
    font-weight: 400;
    color: rgb(103, 103, 103);
}




.footer{
    background-color: black;
    justify-content: center;
}

.foot_cant{
    text-align: center;
    padding: 40px 0;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
}


.footer_icon{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
    list-style: none;
}

.foot_cant span{
    color: white;
}



/* About Page Styling  */

.about_header{
    width: 100%;
    height: 30vh;
    background-color: #6fb53f;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 12px   ;

}


.about_header h2{
    font-size: 40px;
    font-weight: 800;
}

.about_header ul{
    display: flex;
    list-style: none;
    font-size: 22px;
    gap: 10px;
    cursor: pointer;
}


.about_header ul li:hover{
    color: rgb(254, 205, 113);
}


.about_info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    gap: 10px;
    padding: 90px 0;
}

.about_info h3{
    font-size: 42px;
    font-weight: 800;
    color: rgb(72, 68, 68);
}

.about_info strong{
    font-size: 22px;
    color: #8fca67;
    font-weight: 600;
}


.about_info p{
    text-align: center;
    width: 75vw;
    margin-top: 35px;
    font-size: 24px;
    color: rgb(119, 116, 116);
}