*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{

}

.head_one{
    display: flex;
    justify-content: space-between;
    padding: 16px 50px;
    background-color: rgba(107, 158, 30, 0.926);
}


.head_one span{
    font-size: larger;
    font-family: sans-serif;
    color: white;
    font-weight: 100;
    cursor: pointer;
}



.social_box ul {
    display: flex;
    list-style: none;
    gap: 14px;
    margin: 0;
    padding: 0;
}

.social_icon{
    color: white;
    font-size: 25px;
    cursor: pointer;
}


.head_two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.logo_Cant {
    height: 80px;
}

.logo_Cant img{
    height: 100%;
    width: auto;
    background-size: cover;
}

.head_two nav{
    margin-top: 40px;
}

.head_two nav ul{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    list-style: none;
    gap: 60px;
}

.head_two nav ul li {
    text-decoration: none;
    color: rgb(93, 93, 93);
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    cursor: pointer;
}



.banner{
    background-image: url("Images/img1.jpg");
    background-size: cover;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 0;
}

.banner_heading h1{
    color: white;
    font-size: 45px;
    line-height: 1.1;
    font-family: roboto, sans-serif;
    font-weight :900;
}

.banner_heading p{
    font-family: roboto, sans-serif;
    color: white;
    font-size: 45px;
    line-height: 1.1;
    font-weight: 900;
}

.banner_para{
    width: 31%;
    text-align: center;
    margin-top: 20px;
}

.banner_para p{
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1.5;
}